
<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "EnergyUse" ? "active" : "")" href="/Coefficient/EnergyUse">能源</a>
<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "ResourceUse" ? "active" : "")" href="/Coefficient/ResourceUse">資源</a>
<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Refrigerant" ? "active" : "")" href="/Coefficient/Refrigerant">冷媒設備</a>
<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "FireEquipment" ? "active" : "")" href="/Coefficient/FireEquipment">其他設備</a>
<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "dumptreatment_outsourcing" ? "active" : "")" href="/Coefficient/dumptreatment_outsourcing">廢棄物</a>
<a class="nav-link @(ViewContext.RouteData.Values["action"].ToString() == "Transportation" ? "active" : "")" href="/Coefficient/Transportation">運輸</a>

