@using X.PagedList.Mvc.Core;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model X.PagedList.IPagedList<ITRIProject.Models.View.MemberManagement> 


@{
    ViewData["Title"] = "MemberMangment";
    string nonce = @Context.Items["CSPNonce"].ToString() as string;
}
@section Scripts {
    
    <script nonce="@nonce">
        $(".DeleteMember-btn").on("click", function () {
            var memberid = $(this).data('memberid');
            var Account = $(this).data('account');

            var confirmed = window.confirm("確定要刪除[" + Account + "]該帳號嗎？");
            if (!confirmed) {
                return;
            }
            $.ajax({
                url: "/MemberMangment/Delete/" + memberid,
                type: "POST",
                processData: false,
                contentType: false,
                //data: formData, // 將表單數據和驗證碼傳遞到後端
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        window.location.href = "/MemberMangment/Index";
                    } else {
                        // 登入失敗，處理錯誤回應
                        alert(response.error);
                    }
                },
            });
        });

    </script>

}

<div class="container">
   
    <div class="">

        <h3>
            會員管理
        </h3>
        <form class="d-flex mb-2">
            <div class="width30">
                
                <select id="months" name="months" class="form-control">
                    <option value=0>請選擇時間</option>
                    @for (int i = 1; i <= 6; i++)
                    {
                        <option value="@i">@i 個月</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary mx-2">查詢</button>
        </form>
        <div class="table-responsive" id="tablecontainer">
            <table class="responsive-table width100" >
                <thead class="text-center">
                    <tr>
                        <th>帳號</th>
                        <th>用戶類型</th>
                        <th>機關(公司)名稱</th>
                        <th>電子信箱</th>
                        <th>聯絡人</th>
                        <th>職稱</th>
                        <th>聯絡電話</th>
                        <th>聯絡地址</th>
                        <th>上次登入時間</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="12">暫無資料！</td>
                        </tr>
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Account</td>
                            <td>@item.UserType</td>
                            <td>@item.CompanyName</td>
                            <td>@item.Email</td>
                            <td>@item.Name</td>
                            <td>@item.Position</td>
                            <td>@item.Tel</td>
                            <td>@item.Addr</td>
                            <td>@item.LoginDate</td>
                                <td>
                                <input class="genbtnS-danger text-dark DeleteMember-btn" type="button" data-memberid="@item.MemberId" data-account="@item.Account" value="刪除">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-center mt-2">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = 1 })" aria-label="First">第一頁</a>
                        </li>

                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" aria-label="Previous">上一頁</a>
                            </li>
                        }

                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                            </li>
                        }

                        @if (Model.HasNextPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" aria-label="Next">下一頁</a>
                            </li>
                        }

                        <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageCount })" aria-label="Last">最後一頁</a>
                        </li>
                    </ul>
                </nav>
            </div>
           


        </div>
    </div>
</div>