@using Newtonsoft.Json;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@{
    ViewData["Title"] = "EnergyUse";
    string nonce = @Context.Items["CSPNonce"].ToString() as string;
}

@section Scripts {

    <script nonce="@nonce">

        //工廠選項
        var factory = @Html.Raw(ViewBag.Factory);
        var factoryItems = factory.map(function (item) {
            return { name: item.Name, value: item.Id };
        });
        //單位選項
        var Unit = @Html.Raw(ViewBag.Unit);
        var unitItems = Unit.map(function (item) {
            return { name: item.Name, value: item.Code };
        });
        //能源名稱
        var EnergyName = @Html.Raw(ViewBag.EnergyName);
        var EnergyNameItems = EnergyName.map(function (item) {
            return { name: item.Name, value: item.Id };
        });
        //供應廠商選項
        var supplier = @Html.Raw(ViewBag.supplier);
        var supplierMap = {};
        var supplierItems = supplier.map(function (item) {
            supplierMap[item.SupplierName] = { id: item.Id, SupplierAddress: item.SupplierAddress }
            return item.SupplierName;
        });


        // jsGrid裡面新增datalist的選項
        var MyDataListField = function (config) {
            jsGrid.Field.call(this, config);
        };

        MyDataListField.prototype = new jsGrid.Field({

            insertTemplate: function () {
                var $input = $("<input>");
                var $datalist = $("<datalist id='myDatalist'>");

                // 重複性檢查的Map
                this.itemMap = {}
                for (var i = 0; i < this.items.length; i++) {
                    $datalist.append($("<option>").attr("value", this.items[i]));
                    this.itemMap[this.items[i]] = true;
                }

                $input.attr("list", "myDatalist");
                this._insertPicker = $input;
                return $input.add($datalist);
            },

            editTemplate: function (value) {
                var $input = $("<input>");
                var $datalist = $("<datalist id='myDatalist'>");

                // 重複性檢查的Map
                this.itemMap = {}
                for (var i = 0; i < this.items.length; i++) {
                    $datalist.append($("<option>").attr("value", this.items[i]));
                    this.itemMap[this.items[i]] = true;
                }

                $input.attr("list", "myDatalist").val(value);
                this._editPicker = $input;
                return $input.add($datalist);
            },
            insertValue: function () {
                var value = this._insertPicker.val()

                if (value.trim() == "") {
                    return "1";
                }

                // items裡面有值才做新增 否則回傳空值
                return this.itemMap[value] ? value : "";
            },

            editValue: function () {
                var value = this._editPicker.val()
                if (value.trim() == "") {
                    return "1";
                }
                // items裡面有值才做編輯 否則回傳空值
                return this.itemMap[value] ? value : "";
            }
        });

        // 在jsGrid的fields中，新增datalist，並讓它等於創造出來的Fileds(MyDataListField)
        jsGrid.fields.datalist = MyDataListField;
        var url = new URL(window.location.href);
        var basicid = url.pathname.split('/').pop(); // 從 URL 的路徑部分中獲取最後一個值作為 id

        $("#table1").jsGrid({
                inserting: true,
                editing: true,


            sorting: true,
            paging: false,
            rownumbers: true,
            pageLoading: false,
            autoload: false,
            width: "100%",
            height: "100%",
            data: @Html.Raw(ViewBag.DeatilsJson),//如果data有值，一載入時顯示
            controller: {
            //載入
            loadData: function (filter) {
                return $.ajax({
                    type: "GET",
                    url: "/Tools/EnergyUse?basicid=" + basicid + "&&type=LoadData",
                    dataType: "json",
                    data: filter
                }).done(function (response) {
                    if (response.success === false) {
                        alert(response.error);
                        window.location.href = "/Member/Login"; // 導向錯誤頁面
                    }
                });
            },
            //新增
            insertItem: function (item) {
                return $.ajax({
                    type: "POST",
                    url: "/Tools/EnergyUse?basicid=" + basicid + "&&type=add",
                    data: item
                }).done(function (response) {
                    $("#table1").jsGrid("loadData");
                });
            },
            //修改
            updateItem: function (item) {
                console.log(item)

                return $.ajax({
                    type: "POST",
                    url: "/Tools/EnergyUse?basicid=" + basicid + "&&type=Edit",
                    data: item,
                }).done(function (response) {
                    $("#table1").jsGrid("loadData");

                });

            },
            //刪除
            deleteItem: function (item) {
                return $.ajax({
                    type: "POST",
                    url: "/Tools/EnergyUse?basicid=" + basicid + "&&type=delete",
                    data: item
                }).done(function (response) {
                    $("#table1").jsGrid("loadData");
                });
            },
        },
            onItemInserting: function (args) {
                var grid = $("#table1").data("JSGrid");
                //for (var index in grid.data) {
                if (supplierItems.indexOf(args.item.suppliername) == -1) {
                    alert("該供應商不存在，不允許新增");
                    args.cancel = true; // 取消新增動作
                    //break;
                }
                //}
            },
            onItemUpdating: function (args) {
                var grid = $("#table1").data("JSGrid") // 獲取目前表格的所有資料
                var currentItem = args.item; // 目前正在更新的項目

                // 排除目前正在更新的項目
                if (supplierItems.indexOf(args.item.suppliername) == -1) {
                    alert("該供應商不存在，不允許修改");
                    args.cancel = true; // 取消更新動作
                    //break;
                }

            },
            fields: [
            {
                name: "sort", title: "編號", type: "rownumbers", width: 40, align: "center"
            },
            { name: "factoryname", title: "<span style='color: red;'>*</span>場域", type: "select", items: factoryItems, valueField: "value", textField: "name", width: 60, align: "center" },
            {
                name: "energyname",
                title: "<span style='color: red;'>*</span>能源名稱",
                type: "select",
                width: 70,
                align: "center",
                items: EnergyNameItems,
                valueField: "value",
                textField: "name",
                width: 60,
                align: "center",
                valueType: "string", // 指定值的類型為字符串

                change: function (args) {
                    var selectedValue = args.value; // 獲取選中的值
                    alert(selectedValue)

                    if (selectedValue === "1") {
                        alert("選擇了電力");
                    }
                }
            },
            { name: "category", title: "類別", type: "text", width: 50, align: "center", inserting: false, editing: false },
            { name: "equipmentname", title: "錶號或設備名稱", type: "text", width: 100, align: "center" },
            { name: "equipmentlocation", title: "錶或設備位置", type: "text", width: 70, align: "center" },
            { name: "suppliername", title: "<span style='color: red;'>*</span>供應商名稱", type: "datalist", items: supplierItems, width: 60, align: "center" },
            { name: "supplieraddress", title: "供應商地址", type: "text", width: 70, align: "center", inserting: false, editing: false },
            { name: "remark", title: "備註", type: "text", width: 50, align: "center" },
            { name: "beforetotal", title: "總量", type: "text", width: 60, align: "center", inserting: false, editing: false },
            { name: "beforeunit", title: "單位", type: "text", width: 80, align: "center", inserting: false, editing: false },
            //{
            //    name: "convertnum", title: "<span style='color: red;'>*</span>單位轉換之值<br><label class=\"tooltips\" onmouseover=\"showTooltip(event)\" onmouseout=\"hideTooltip()\"><img class=\"resize-image\" src=\"../../Img/QuestionMark2.png\" /><span class=\"tooltips-text\"><label style=\"font-size: 10px;\"><br>請與係數管理者討論數據需換算為哪一單位後再填寫</label></ span > </label>", type: "text", width: 80, align: "center", validate: [{
            //        validator: function (value, item) {
            //            var num = parseFloat(value);
            //            return num > 0 && /^-?\d+(\.\d{1,4})?$/.test(value);//判斷是否為大於0的數，小數點限制4位
            //        },
            //        message: "單位轉換之值，請輸入大於0的數字，最多4位小數"
            //    }]
            //},
            //{ name: "convertunit", title: "單位轉換之單位", type: "text", width: 100, align: "center", inserting: false, editing: false },
            //{ name: "aferttotal", title: "轉換後總量", type: "text", width: 60, align: "center", inserting: false, editing: false },
            //{ name: "afertUnit", title: "<span style='color: red;'>*</span>轉換後單位", type: "select", items: unitItems, valueField: "value", textField: "name", width: 90, align: "center" },
            {
                name: "distributeratio", title: "<span style='color: red;'>*</span>分配比率(%)", type: "text", width: 60, align: "center", validate: [{
                    validator: function (value, item) {
                        var num = parseFloat(value);
                        return num > 0 && num <= 100 && /^-?\d+(\.\d{1,2})?$/.test(value);//判斷是否介於0-100的數，小數點限制2位
                    },
                    message: "分配比率(%)，請輸入介於0-100之間的數，最多2位小數"
                }]
            },
            {
                name: "detail", title: "<span style='color: red;'>*</span>詳細資料", width: 80, align: "center",
                itemTemplate: function (value, item) {
                    return $(`<img src=\"/Img/look.png\" class='CallSubwin-btn' data-id='${item.id}'  data-basicid='${basicid}'  data-energyname='${item.energyname}'>`);//(該筆資料的id，基本資料ID，能源別)
                }
            },
                { type: "control", editButton: true, modeSwitchButton: true },

            {
                name: "evidencefile",
                title: "佐證資料",
                itemTemplate: function (value, item) {
                    return $(`<img src=\"/Img/edit.png\" class='CallFileManage-btn' data-id='${item.id}'  data-basicid='${basicid}'  data-energyname='${item.energyname}'>`);//(該筆資料的id，基本資料ID，能源別)

                },
                width: 80,
                align: "center"
            }
        ]
                        });

        // 使用事件委派將事件綁定到父元素
        $(document).on("click", ".CallSubwin-btn", function () {
            var id = $(this).data('id');
            var basicid = $(this).data('basicid');
            var energyname = $(this).data('energyname');
            var url = '/OrganizeDetail/EnergyUsedetail?id=' + id + "&BasicId=" + basicid + "&energyname=" + energyname;
            window.open(url, "_blank", "width=1200,height=600,resizable=no,location=no,scrollbars=no,status=no");
        });
        $(document).on("click", ".CallFileManage-btn", function () {
            var id = $(this).data('id');
            var basicid = $(this).data('basicid');
            var energyname = String($(this).data('energyname'));
            var selectedName = EnergyNameItems.find(function (item) {
                return item.value === energyname;
            }).name;

            var url = '/OrganizeFile/EvidenceFileDetail?BasicId=' + basicid + '&ItemId=' + id + '&WhereForm=能源使用';//id為該筆item的id
            subinitB('1000px', '100%', url, '佐證資料-' + selectedName);
        });


        function ImportExcel() {
            // 创建一个自定义对话框
            var dialog = document.createElement("div");
            dialog.innerHTML = `
                                                                        <p>帳單間距為：</p>
                                                                        <button id="oneMonthButton">1個月</button>
                                                                        <button id="twoMonthButton">2個月</button>
                                                                        <button id="Cancel">取消</button>
                                                                    `;

            // 样式化对话框
            dialog.style.position = "fixed";
            dialog.style.top = "50%";
            dialog.style.left = "50%";
            dialog.style.transform = "translate(-50%, -50%)";
            dialog.style.backgroundColor = "white";
            dialog.style.padding = "20px";
            dialog.style.boxShadow = "0px 0px 10px rgba(0, 0, 0, 0.5)";
            dialog.style.zIndex = "9999";

            // 将对话框添加到页面
            document.body.appendChild(dialog);

            // 添加点击事件处理程序
            document.getElementById("oneMonthButton").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
                location.href = '../../OrganizeExcel/EnergyUseImportExcel?BasicId=' + basicid + '&SelMonth=1';

            });

            document.getElementById("twoMonthButton").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
                location.href = '../../OrganizeExcel/EnergyUseImportExcel?BasicId=' + basicid + '&SelMonth=2';

            });
            document.getElementById("Cancel").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
            });

        }


        function ExportExcel() {
            var factoryNames = JSON.parse(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Factory)));
            var EnergyNames = JSON.parse(@Html.Raw(JsonConvert.SerializeObject(ViewBag.EnergyName)));
            var Transportation = JSON.parse(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Transportation)));
            var Car = JSON.parse(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Car)));
            var Units = JSON.parse(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Unit)));
            var Suppliermanages = JSON.parse(@Html.Raw(JsonConvert.SerializeObject(ViewBag.Suppliermanages)));
            var monthcount = (@ViewBag.monthcount+1);
            var year = (@ViewBag.year - 1911);
            var month = (@ViewBag.month-1);
            // 在這裡調用 ExportExcel_Energyuse 函數並傳遞相應的參數
            // 创建一个自定义对话框
            var dialog = document.createElement("div");
            dialog.innerHTML = `
                                                                                <p>帳單間距為：</p>
                                                                                <button id="oneMonthButton">1個月</button>
                                                                                <button id="twoMonthButton">2個月</button>
                                                                                <button id="Cancel">取消</button>
                                                                            `;

            // 样式化对话框
            dialog.style.position = "fixed";
            dialog.style.top = "50%";
            dialog.style.left = "50%";
            dialog.style.transform = "translate(-50%, -50%)";
            dialog.style.backgroundColor = "white";
            dialog.style.padding = "20px";
            dialog.style.boxShadow = "0px 0px 10px rgba(0, 0, 0, 0.5)";
            dialog.style.zIndex = "9999";

            // 将对话框添加到页面
            document.body.appendChild(dialog);

            // 添加点击事件处理程序
            document.getElementById("oneMonthButton").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
                ExportExcel_Energyuse(factoryNames, EnergyNames, Transportation, Car, Units, Suppliermanages, monthcount, year, month);

            });

            document.getElementById("twoMonthButton").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
                ExportExcel_TwoMonthEnergyuse(factoryNames, EnergyNames, Transportation, Car, Units, Suppliermanages, monthcount, year, month);

            });
            document.getElementById("Cancel").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
            });
        }

        function ImportCSV() {
            // 创建一个自定义对话框
            var dialog = document.createElement("div");
            dialog.innerHTML = `
                                                                                <p>帳單間距為：</p>
                                                                                <button id="oneMonthButton">1個月</button>
                                                                                <button id="twoMonthButton">2個月</button>
                                                                                <button id="Cancel">取消</button>
                                                                            `;

            // 样式化对话框
            dialog.style.position = "fixed";
            dialog.style.top = "50%";
            dialog.style.left = "50%";
            dialog.style.transform = "translate(-50%, -50%)";
            dialog.style.backgroundColor = "white";
            dialog.style.padding = "20px";
            dialog.style.boxShadow = "0px 0px 10px rgba(0, 0, 0, 0.5)";
            dialog.style.zIndex = "9999";

            // 将对话框添加到页面
            document.body.appendChild(dialog);

            // 添加点击事件处理程序
            document.getElementById("oneMonthButton").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
                location.href = '../../OrganizeCSV/EnergyUseImport?BasicId=' + basicid + '&SelMonth=1';

            });

            document.getElementById("twoMonthButton").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
                location.href = '../../OrganizeCSV/EnergyUseImport?BasicId=' + basicid + '&SelMonth=2';

            });
            document.getElementById("Cancel").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
            });
        }
        function ExportCSV() {
            var monthcount = (@ViewBag.monthcount+1);
            var year = (@ViewBag.year - 1911);
            var month = (@ViewBag.month-1);

            // 在這裡調用 ExportExcel_Energyuse 函數並傳遞相應的參數
            // 创建一个自定义对话框
            var dialog = document.createElement("div");
            dialog.innerHTML = `
                                                                                <p>帳單間距為：</p>
                                                                                <button id="oneMonthButton">1個月</button>
                                                                                <button id="twoMonthButton">2個月</button>
                                                                                <button id="Cancel">取消</button>
                                                                            `;

            // 样式化对话框
            dialog.style.position = "fixed";
            dialog.style.top = "50%";
            dialog.style.left = "50%";
            dialog.style.transform = "translate(-50%, -50%)";
            dialog.style.backgroundColor = "white";
            dialog.style.padding = "20px";
            dialog.style.boxShadow = "0px 0px 10px rgba(0, 0, 0, 0.5)";
            dialog.style.zIndex = "9999";

            // 将对话框添加到页面
            document.body.appendChild(dialog);

            // 添加点击事件处理程序
            document.getElementById("oneMonthButton").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
                ExportCSV_Energyuse(monthcount, year, month);

            });

            document.getElementById("twoMonthButton").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
                ExportCSV_TwoMonthEnergyuse(monthcount, year, month);

            });
            document.getElementById("Cancel").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
            });
        }
        function ImportJSON() {
            // 创建一个自定义对话框
            var dialog = document.createElement("div");
            dialog.innerHTML = `
                                                                                        <p>帳單間距為：</p>
                                                                                        <button id="oneMonthButton">1個月</button>
                                                                                        <button id="twoMonthButton">2個月</button>
                                                                                        <button id="Cancel">取消</button>
                                                                                    `;

            // 样式化对话框
            dialog.style.position = "fixed";
            dialog.style.top = "50%";
            dialog.style.left = "50%";
            dialog.style.transform = "translate(-50%, -50%)";
            dialog.style.backgroundColor = "white";
            dialog.style.padding = "20px";
            dialog.style.boxShadow = "0px 0px 10px rgba(0, 0, 0, 0.5)";
            dialog.style.zIndex = "9999";

            // 将对话框添加到页面
            document.body.appendChild(dialog);

            // 添加点击事件处理程序
            document.getElementById("oneMonthButton").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
                location.href = '../../OrganizeJSON/EnergyUseImport?BasicId=' + basicid + '&SelMonth=1';

            });

            document.getElementById("twoMonthButton").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
                location.href = '../../OrganizeJSON/EnergyUseImport?BasicId=' + basicid + '&SelMonth=2';

            });
            document.getElementById("Cancel").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
            });
        }
        function ExportJSON() {
            var monthcount = (@ViewBag.monthcount+1);
            var year = (@ViewBag.year - 1911);
            var month = (@ViewBag.month-1);

            // 在這裡調用 ExportExcel_Energyuse 函數並傳遞相應的參數
            // 创建一个自定义对话框
            var dialog = document.createElement("div");
            dialog.innerHTML = `
                                                                                        <p>帳單間距為：</p>
                                                                                        <button id="oneMonthButton">1個月</button>
                                                                                        <button id="twoMonthButton">2個月</button>
                                                                                        <button id="Cancel">取消</button>
                                                                                    `;

            // 样式化对话框
            dialog.style.position = "fixed";
            dialog.style.top = "50%";
            dialog.style.left = "50%";
            dialog.style.transform = "translate(-50%, -50%)";
            dialog.style.backgroundColor = "white";
            dialog.style.padding = "20px";
            dialog.style.boxShadow = "0px 0px 10px rgba(0, 0, 0, 0.5)";
            dialog.style.zIndex = "9999";

            // 将对话框添加到页面
            document.body.appendChild(dialog);

            // 添加点击事件处理程序
            document.getElementById("oneMonthButton").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
                ExportJSON_Energyuse(monthcount, year, month);

            });

            document.getElementById("twoMonthButton").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
                ExportJSON_TwoMonthEnergyuse(monthcount, year, month);

            });
            document.getElementById("Cancel").addEventListener("click", function () {
                document.body.removeChild(dialog); // 移除对话框
            });
        }

        $(".exportExcel").on("click", function () {
            ExportExcel();
        });
        $(".exportCSV").on("click", function () {
            ExportCSV();
        });
        $(".exportJSON").on("click", function () {
            ExportJSON();
        });

        $(".importExcel").on("click", function () {
            ImportExcel();
        });
        $(".importCSV").on("click", function () {
            ImportCSV();
        });
        $(".importJSON").on("click", function () {
            ImportJSON();
        });

    </script>


}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <!-- 加入部分視圖，顯示左標題列 -->
            @await Html.PartialAsync("Organize/Organize")
        </div>
        <div class="col-lg-10">
            <div class="card">
                <h3>
                    能源
                    <label class="tooltips">
                        @*懸浮文字文字*@
                        <img src="~/Img/QuestionMark.png" class="QuestionMark" />

                        <span class="tooltips-text">
                            電力(類別2)<br />
                            天然氣(類別1)<br />
                            液化石油氣(類別1)<br />
                            汽油(類別1)<br />
                            柴油(類別1)<br />
                            車用汽油(類別1)<br />
                            車用柴油(類別1)
                        </span>

                    </label>
                    <a href="../../systemfile/能源使用範本.pdf" target="_blank">
                        <button class="genbtn">範本</button>
                    </a>
                </h3>

                    <div style="margin: 10px 0;">

                        <button class="genbtn exportExcel" value="">下載Excel範例</button>
                        <button class="genbtn importExcel" value="">匯入Excel</button>
                        <button class="genbtn exportCSV" value="">下載CSV範例</button>
                        <button class="genbtn importCSV" value="">匯入CSV</button>
                        <button class="genbtn exportJSON" value="">下載JSON範例</button>
                        <button class="genbtn importJSON" value="">匯入JSON</button>
                    </div>
                

                <form asp-action="EnergyUse" method="get" id="EnergyUse">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*             <input name="search" type="text" placeholder="關鍵字搜尋" />
                    <input type="submit" value="查詢" class="btn btn-primary genbtn" /> *@
                    <div class="scrollable-container jsgrid" style="height:500px">
                        <div id="table1"></div>
                    </div>
                    <br />

                </form>
                <form asp-action="EnergyUse" id="EnergyUse">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group textcenter">
                        <input type="submit" value="下一頁" class="btn btn-primary genbtn" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
